<div class="new-interests-container hidden">

  <h1>Add Interests for <span class="child-name">Child</span></h1>

  <div class="interests-wrapper">
    <% @interests.each do |interest| %>
      <div class="interest-btn" data-interest-id="<%= interest.id %>"><%= interest.name %></div>
    <% end %>
  </div>

  <%= form_for @interest do |f| %>

    <div class="interest-error-explanation hidden">
      <h3>Errors</h3>
      <ul class="interest-error-messages"></ul>
    </div>

    <%= f.label :name, 'Interest:' %>
    <%= f.text_field :name %>

    <%= f.submit 'Add interest' %>

  <% end %>

  <h3 class="submit-interests"><a href="#">[Click To Submit]</a></h3>

</div>

<div class="complete-child-profile hidden">
  <h3 class="create-child-profile"><a href="/"> [Complete child profile]</a></h3>
</div>
