<div class="new-pf-section interests">

  <a href="#"><h2>4. Interests for <span class="child-name">Child</span></h2></a>

  <div class="new-pf-container new-interests-container hidden">

    <div class="container row">
      <div class="interests-wrapper">
        <% @top_interests.each do |interest| %>
          <div class="interest-btn" data-interest-id="<%= interest.id %>"><%= interest.name %></div>
        <% end %>
      </div>
    <div class="debug interest-form-wrapper">
      <%= form_for @interest do |f| %>

        <div class="interest-error-explanation hidden">
          <h3>Errors</h3>
          <ul class="interest-error-messages"></ul>
        </div>

        <%= f.label :name, 'Interest:' %>
        <%= f.text_field :name %>

        <%= f.submit 'Add interest' %>

      <% end %>
      </div>
    </div>

    <div class="continue-wrapper container row">
      <a class="continue" href="#">Continue</a>
    </div>

  </div>

</div>


<!-- <div class="complete-child-profile hidden">
  <h3 class="create-child-profile"><a href="/">[Complete child profile]</a></h3>
</div> -->
