<div class="new-pf-form-container">

  <p class="new-child-pf-title">New Child Profile</p>

  <%= form_for @child, url: url_for(controller: 'profiles', action: 'create'), html: {class: 'pure-form'} do |f| %>

    <div class="profile-error-explanation hidden">
      <h3>Errors</h3>
      <ul class="profile-error-messages"></ul>
    </div>

    <div class="new-pf-section basic-info">
      <a href="#"><h2>1. Basic Information</h2></a>

      <div class="new-pf-container container row">

        <div class="container row">
          <div class="col span_6">
            <%= f.label(:first_name, 'First Name:') %><br />
            <%= f.text_field(:first_name, class: "glowing-border" ) %><br />
          </div>

          <div class="col span_6">
            <%= f.label(:last_name, 'Last Name:') %><br />
            <%= f.text_field(:last_name) %><br />
          </div>
        </div>

        <div class="container row">
          <div class="col span_6">
            <%= f.label(:city, 'City:') %><br />
            <%= f.text_field(:city) %><br />
          </div>

          <div class="col span_6">
            <%= f.label(:state, 'State:') %><br />
            <%= f.select(:state, options_for_select(us_states), include_blank: true) %><br />
          </div>
        </div>

        <div class="container row">
          <div class="col span_6">
            <%= f.label(:phone, 'Phone Number:') %><br />
            <%= f.phone_field(:phone) %><br />
          </div>

          <div class="col span_6">
            <%= f.label(:birthdate, 'Birth Date:') %><br />
            <%= f.date_field(:birthdate) %><br />
          </div>
        </div>

        <div class="gender-interestedin-wrapper container">
          <div class="gender-wrapper col">
            <%= f.label(:gender, 'Gender:') %><br />
            <div class="pf-form-gender">
            Male: <%= f.radio_button(:gender, 'male') %><br>
            Female: <%= f.radio_button(:gender, 'female') %><br>
            Other: <%= f.radio_button(:gender, 'other') %><br>
            </div>
          </div>

          <div class="interested-in-wrapper">
            <%= f.label(:sexual_preference, 'Interested in:') %><br />
            <div class="pf-form-interested-in">

            Men: <%= f.radio_button(:sexual_preference, 'men') %><br />
            Women: <%= f.radio_button(:sexual_preference, 'women') %><br />
            No Preference: <%= f.radio_button(:sexual_preference, 'no preference') %><br />
            </div>
          </div>
        </div>

        <div>
          <%= f.label(:bio, 'Short Bio:') %><br />
          <%= f.text_area(:bio) %><br />
        </div>

        <div class="continue-wrapper container row">
          <a class="continue" href="#">Continue</a>
        </div>

      </div>
    </div>

    <div class="new-pf-section optional-info">
      <a href="#"><h2>2. Optional Information</h2></a>

      <div class="new-pf-container new-values-container row hidden">
        <%= f.label(:linkedin_url, 'LinkedIn:') %><br />
        <%= f.url_field(:linkedin_url, class: "opt-input") %><br />

        <%= f.label(:facebook_url, 'Facebook:') %><br />
        <%= f.url_field(:facebook_url, class: "opt-input") %><br />

        <%= f.label(:religion, 'Religion:') %><br />
        <%= f.select(:religion, options_for_select(religions), include_blank: true, class: "opt-input") %><br />

        <%= f.label(:smoke, 'Smokes:') %><br />
        Yes: <%= f.radio_button(:smoke, true) %>
        No: <%= f.radio_button(:smoke, false) %><br />

        <%= f.label(:embarrassing_moment, 'Embarrassing Moment:') %><br />
        <%= f.text_area(:embarrassing_moment) %>

        <div class="continue-wrapper container row">
          <a class="continue" href="#">Continue</a>
        </div>

      </div>
    </div>

    <div class="new-pf-section image-info">
      <a href="#"><h2>3. Profile Images</h2></a>

      <div class="new-pf-container hidden">

        <div class="container row ">

          <div class="col span_2">
            <%= f.label(:pf_image_1, 'Image 1:') %>
            <%= f.file_field(:pf_image_1, class: 'file-input') %><br />
            <img class="upload-preview" src="/images/empty-pf-image.png" />
          </div>

          <div class="col span_2">
            <%= f.label(:pf_image_2, 'Image 2:') %>
            <%= f.file_field(:pf_image_2, class: 'file-input') %><br />
            <img class="upload-preview" src="/images/empty-pf-image.png" />
          </div>

          <div class="col span_2">
            <%= f.label(:pf_image_3, 'Image 3:') %>
            <%= f.file_field(:pf_image_3, class: 'file-input') %>
            <img class="upload-preview" src="/images/empty-pf-image.png" />
          </div>

          <div class="col span_2">
            <%= f.label(:pf_image_4, 'Image 4:') %>
            <%= f.file_field(:pf_image_4, class: 'file-input') %><br />
            <img class="upload-preview" src="/images/empty-pf-image.png" />
          </div>

          <div class="col span_2">
            <%= f.label(:pf_image_5, 'Image 5:') %>
            <%= f.file_field(:pf_image_5, class: 'file-input') %><br />
            <img class="upload-preview" src="/images/empty-pf-image.png" />
          </div>

        </div>

        <div class="container row">
          <%= f.submit 'Continue', class: "pf-img-submit-btn" %>
          <a class="continue-force hidden" href="#">Continue</a>
        </div>

      </div>
    </div>
  <% end %>

<%= render partial: 'interests_form' %>
<%= render partial: 'values_form' %>
</div>



