      <div class="status-box row">
        <div class="date-status-header">
          <p>DATE STATUS</p>
        </div>
        <div class="col span_6">
          <div class="date-status-parent-name">
            <% if playdate.initiator.parent.id == current_user.id %>
              <span>You</span>
            <% else %>
              <span><%= playdate.initiator.parent.first_name %></span>
            <% end %>
          </div>
          <div class="date-status-table">
            <div class="date-status-row">
              <i class="fa fa-check-circle"></i>
              <p>Initiated</p>
            </div>
            <div class="date-status-row">
              <i id="initiator-confirmed" class="<%= playdate.initiator_confirmed ? 'fa fa-check-circle' : 'fa fa-circle-thin' %>"></i>
              <p>Confirmed</p>
            </div>
            <div class="date-status-row">
              <i id="initiator-paid" class="<%= playdate.initiator_paid ? 'fa fa-check-circle' : 'fa fa-circle-thin' %>"></i>
              <p>Paid</p>
            </div>
          </div>
        </div>

        <div class="col span_6">
          <div class="date-status-parent-name">
            <% if playdate.recipient.parent.id == current_user.id %>
              <span>You</span>
            <% else %>
              <span><%= playdate.recipient.parent.first_name %></span>
            <% end %>
          </div>
          <div class="date-status-table">
            <div class="date-status-row">
              <i id="recipient-accepted" class="<%= playdate.recipient_accepted ? 'fa fa-check-circle' : 'fa fa-circle-thin' %>"></i>
              <p>Accepted</p>
            </div>
            <div class="date-status-row">
              <i id="recipient-confirmed" class="<%= playdate.recipient_confirmed ? 'fa fa-check-circle' : 'fa fa-circle-thin' %>"></i>
              <p>Confirmed</p>
            </div>
            <div class="date-status-row">
              <i id="recipient-paid" class="<%= playdate.recipient_paid ? 'fa fa-check-circle' : 'fa fa-circle-thin' %>"></i>
              <p>Paid</p>
            </div>
          </div>
        </div>

      </div>
