<div class="movie row">
  <div id="movie-wrap" class= "col span_12">
    <% @names_and_ids.each do |movie| %>
    <div class= "movie-flip">
      <img class="movie-poster mv-box-front" alt = "<%= movie.first %>" src="<%= movie.last[:movie_poster]%>">
      <div class="movie-poster mv-box-back hidden">
        <h3><%= movie.first %></h3>
        <ul>
          <li class="mv-synopsis">Synopsis: <%= movie.last[:synopsis] %></li>
          <li class="mv-mpaa-rating">Rating: <%= movie.last[:mpaa] %></li>
          <li class="mv-release-date">Release Date:<%= movie.last[:release_date] %></li>
          <li class="mv-runtime">Runtime: <%= movie.last[:runtime] %></li>
          <li class="mv-rt-score">RT score: <%= movie.last[:rating] %></li>
        </ul>
        <button class="add-to-package">Add to Package</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
