<div class="movie row">
  <div id="movie-wrap" class= "col span_12">
    <% @names_and_ids.each do |movie| %>
    <div class= "movie-flip">
      <img class="movie-poster mv-box-front" alt = "<%= movie.first %>" src="<%= movie.last[:movie_poster]%>">
      <div class="movie-poster mv-box-back hidden">
        <a href="#"><div class="add-to-package">Add to Package</div></a>
        <h3><%= movie.first %></h3>
        <ul>
          <li class="mv-synopsis"><span class="boldify blueify">Synopsis: </span><%= truncate(movie.last[:synopsis], length: 70, separator: ' ') %></li>
          <li class="mv-mpaa-rating"><span class="boldify blueify">Rating: </span><%= movie.last[:mpaa] %></li>
          <li class="mv-release-date"><span class="boldify blueify">Release Date: </span><%= movie.last[:release_date] %></li>
          <li class="mv-runtime"><span class="boldify blueify">Runtime: </span><%= movie.last[:runtime] %></li>
          <li class="mv-rt-score"><span class="boldify blueify">RT score: </span><%= movie.last[:rating] %>
          </li>

        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
