<div class="playdate-container container">
  <div class="title-and-status-wrapper row">
    <div class="col span_8">
      <div class="page-title-wrapper">
        <h1>Design <%= current_user.my_child(@playdate).first_name %>'s Date with <%= current_user.other_child(@playdate).first_name %>!</h1>
      </div>
    </div>
    <div class="status-box-wrapper col span_4">
      <%= render partial: "date_status_box", locals: {playdate: @playdate} %>
    </div>
  </div>


  <div class = "status row">
    <div class="col span_8">

      <div class="date-design-section selected-experience-container row">
        <div class="date-design-section-header">
          <h2>Selected Date Experience</h2>
        </div>

        <div class="date-design-section-body">
          <% if (@playdate.status == 'paid') %>
            <p class="design-date-notification">Everyone has paid - the date is on!</p>
          <% end %>

          <% if (@playdate.experience.nil?) && (@playdate.movie.nil?) %>
            <p class="design-date-notification">No Experience Selected</p>
          <% elsif (@playdate.experience) && (@playdate.movie.nil?) %>
          <div id="selected-event">
            <%= render partial: "experience_card", locals: {experience: @playdate.experience} %>
          </div>
          <% elsif (@playdate.movie) && (@playdate.experience.nil?) %>
            <%= render partial: "movie_card", locals: {movie: @playdate.movie} %>
          <% elsif (@playdate.movie) && (@playdate.experience) %>
            <%= render partial: "experience_card", locals: {experience: @playdate.experience} %>
            <div class="date-comment">with</div>
            <%= render partial: "movie_card", locals: {movie: @playdate.movie} %>
          <% else %>
            <p>Something is wrong!</p>
          <% end %>

        <!-- ******BUTTON LOGIC****** -->
          <!-- AcceptEvent Logic -->
          <div class="accept-confirm-pay-wrapper row"
            <% if (current_user.id == @playdate.recipient.parent.id) && (@playdate.status == "pending") %>
              <a href="/dates/<%= current_user.id %>/accept">Accept Invitation</a>
            <% end %>

            <!-- Confirm Event Logic -->
            <% if (@playdate.event_selected?) && (@playdate.status == 'accepted') %>
              <% if (current_user.initiated_date?(@playdate)) && (@playdate.initiator_confirmed) %>
                <div class="disabled-button desaturate italics">Awaiting confirmation from other parent</div>
              <% elsif (current_user.initiated_date?(@playdate)) && !(@playdate.initiator_confirmed) %>
                <a class="accept-confirm-pay-btn" href="/dates/<%= current_user.id %>/confirm">Confirm Date Selection</a>
              <% elsif !(current_user.initiated_date?(@playdate)) && (@playdate.recipient_confirmed) %>
                <div class="disabled-button desaturate italics">Awaiting confirmation from other parent</div>
              <% elsif !(current_user.initiated_date?(@playdate)) && !(@playdate.recipient_confirmed) %>
                <a class="accept-confirm-pay-btn" href="/dates/<%= current_user.id %>/confirm">Confirm Date Selection</a>
              <% else %>
                <a class="accept-confirm-pay-btn" href="#">Something is wrong</a>
              <% end %>
            <% end %>

            <!-- Pay For Date Logic -->
            <% if (@playdate.event_selected?) && (@playdate.status == 'confirmed') %>
              <% if (current_user.initiated_date?(@playdate)) && (@playdate.initiator_paid) %>
              <!-- Render status msg saying they already paid? -->
              <% elsif (current_user.initiated_date?(@playdate)) && !(@playdate.initiator_paid) %>
                <div class="pay-btn-wrapper row">
                  <span class="col span_6">Total Cost: $<%= @playdate.total_cost_per_person %>/person</span>
                  <div class="stripe-btn col span_6"><%= render partial: "charges/new" %></div>
                </div>
              <% elsif !(current_user.initiated_date?(@playdate)) && (@playdate.recipient_paid) %>
              <!-- Render status msg saying they already paid? -->
              <% elsif !(current_user.initiated_date?(@playdate)) && !(@playdate.recipient_paid) %>
                <div class="pay-btn-wrapper row">
                  <span class="col span_6">Total Cost: $<%= @playdate.total_cost_per_person %>/person</span>
                  <div class="stripe-btn col span_6"><%= render partial: "charges/new" %></div>
                </div>
              <% else %>
                <div class="accept-confirm-pay-btn row">Something is wrong</div>
              <% end %>
            <% end %>

            <!-- Display message: waiting for other parent to confirm date -->
            <% if (current_user.id == @playdate.initiator.parent.id) && (@playdate.initiator_confirmed == true) && (@playdate.recipient_confirmed == false) %>
              <div class="disabled-button desaturate italics">Awaiting confirmation from other parent</div>
              <!-- <p class="design-date-notification">Awaiting confirmation from other parent</p> -->
            <% elsif (current_user.id == @playdate.recipient.parent.id) && (@playdate.recipient_confirmed == true) && (@playdate.initiator_confirmed == false) %>
              <div class="disabled-button desaturate italics">Awaiting confirmation from other parent</div>
            <% end %>

            <!-- Display message: waiting for other parent to submit payment -->
            <% if (current_user.id == @playdate.initiator.parent.id) && (@playdate.initiator_paid == true) && (@playdate.recipient_paid == false) %>
              <div class="disabled-button desaturate italics">Awaiting payment from other parent</div>
            <% elsif (current_user.id == @playdate.recipient.parent.id) && (@playdate.recipient_paid == true) && (@playdate.initiator_paid == false) %>
              <div class="disabled-button desaturate italics">Awaiting payment from other parent</div>
            <% end %>

          </div>

        </div>
      </div>

      <!-- 'If statement for "hide if confirmed or paid" logic -->
      <% if (@playdate.status == "confirmed") || (@playdate.status == "paid") %>
        <div class="hidden">
      <% end %>

      <div class="date-design-section food-and-drink-container row">
        <div class="date-design-section-header">
          <h2>Food & Drink</h2>
        </div>
        <div class="date-design-section-body">
          <% Experience.upcoming_experiences.each do |experience| %>
            <%= render partial: "experience_card", locals: {experience: experience} %>
          <% end %>
        </div>
      </div>

      <div class="date-design-section movie-container row">
        <div class="date-design-section-header">
          <h2>In Theaters</h2>
        </div>
        <div class="date-design-section-body">
          <%= render partial: 'movie_row' %>
        </div>
      </div>

      <!-- Closing 'end' statement for "hide if confirmed or paid" logic -->
      <% if (@playdate.status == "confirmed") || (@playdate.status == "paid") %>
        </div>
      <% end %>

    </div>

    <div class=" chat-data col span_4">
      <%= render partial: 'chat' %>
    </div>

  </div>
</div>


