<div class="playdate-container container">
  <div class="title-and-status-wrapper row">
    <div class="col span_8">
      <div class="page-title-wrapper">
        <h1>Design <%= current_user.my_child(@playdate).first_name %>'s Date with <%= current_user.other_child(@playdate).first_name %>!</h1>
      </div>
    </div>
    <div class="status-box-wrapper col span_4">
      <%= render partial: "date_status_box", locals: {playdate: @playdate} %>
    </div>
  </div>


  <div class = "status row">
    <div class="col span_8">

      <div class="date-design-section selected-experience-container row">
        <div class="date-design-section-header">
          <h2>Selected Date Experience</h2>
        </div>

        <div class="date-design-section-body">

        <!-- ******SHOW NOTIFICATION****** -->
          <p class="design-date-notification">
            <% if (@playdate.experience.nil?) && (@playdate.movie.nil?) %>
              No Experience Selected
            <% elsif (@playdate.status == 'paid') %>
              Everyone has paid - the date is on!
            <% end %>
          </p>


        <!-- ******SHOW SELECTED EXPERIENCE/MOVIE****** -->
          <div data-playdate-id="<%= @playdate.id %>" id="selected-experience">
            <% if (@playdate.experience.nil?) && (@playdate.movie.nil?) %>
            <% elsif (@playdate.experience) && (@playdate.movie.nil?) %>
              <%= render partial: "experience_card", locals: {experience: @playdate.experience} %>
            <% elsif (@playdate.movie) && (@playdate.experience.nil?) %>
              <%= render partial: "movie_card", locals: {movie: @playdate.movie} %>
            <% elsif (@playdate.movie) && (@playdate.experience) %>
              <%= render partial: "experience_card", locals: {experience: @playdate.experience} %>
              <div class="date-comment">with</div>
              <%= render partial: "movie_card", locals: {movie: @playdate.movie} %>
            <% else %>
              <p>Something is wrong!</p>
            <% end %>
          </div>

        <!-- ******BUTTON LOGIC****** -->
          <!-- AcceptEvent Logic -->
          <div class="accept-confirm-pay-wrapper row">
            <% if (current_user.id == @playdate.recipient.parent.id) && (@playdate.status == "pending") %>
              <a id="accept-invitation" class="accept-confirm-pay-btn" href="/dates/<%= @playdate.id %>/accept">Accept Invitation</a>
            <% end %>

            <!-- Confirm Event Logic -->
            <% if (@playdate.event_selected?) && (@playdate.status == 'accepted') %>
              <% if (@playdate.you_confirmed?(current_user)) && !(@playdate.other_confirmed?(current_user)) %>
                <div class="disabled-button desaturate italics">Awaiting confirmation from other parent</div>
              <% elsif (@playdate.you_confirmed?(current_user) == false) %>
                <a id="confirm-invitation" class="accept-confirm-pay-btn" href="/dates/<%= @playdate.id %>/confirm">Confirm Date Selection</a>
              <% else %>
                <a class="accept-confirm-pay-btn" href="#">Something is wrong</a>
              <% end %>
            <% end %>

            <!-- Pay For Date Logic -->
            <% if (@playdate.event_selected?) &&
                  (@playdate.status == 'confirmed') &&
                  (@playdate.you_paid?(current_user)) &&
                  !(@playdate.other_paid?(current_user)) %>
              <div class="disabled-button desaturate italics">Awaiting payment from other parent</div>
            <% end %>

            <div class="pay-btn-wrapper row <%= 'hidden' unless ((@playdate.event_selected?) && (@playdate.status == 'confirmed') && (@playdate.you_paid?(current_user) == false)) %>">
              <span class="col span_6">Total Cost: $<%= @playdate.total_cost_per_person %>/person</span>
              <div class="stripe-btn col span_6"><%= render partial: "charges/new" %></div>
            </div>


          </div>

        </div>
      </div>

      <div class="date-design-section food-and-drink-container row <%= 'hidden' if (@playdate.status == "confirmed") || (@playdate.status == "paid") %>">
        <div class="date-design-section-header">
          <h2>Food & Drink</h2>
        </div>
        <div class="date-design-section-body">
          <% Experience.upcoming_experiences.each do |experience| %>
            <%= render partial: "experience_card", locals: {experience: experience} %>
          <% end %>
        </div>
      </div>

      <div class="date-design-section movie-container row <%= 'hidden' if (@playdate.status == "confirmed") || (@playdate.status == "paid") %>">
        <div class="date-design-section-header">
          <h2>In Theaters</h2>
        </div>
        <div class="date-design-section-body">
          <%= render partial: 'movie_row' %>
        </div>
      </div>

    </div>

    <div class=" chat-data col span_4">
      <%= render partial: 'chat' %>
    </div>

  </div>
</div>

<%= render 'experience_card_template' %>


