<div class="dates-dashboard-container container">
  <div class="row">
    <% if params[:message] == 'paid' %>
      <div class="flash-paid-message">Payment confirmed! We will send a text message to <%= Playdate.find(params[:date]).initiator.first_name %> and <%= Playdate.find(params[:date]).recipient.first_name %> when both parties have paid.</div>
    <% end %>
    <div class="page-title-wrapper">
      <h1><%= @user.first_name %>'s Dashboard</h1>
    </div>

    <div class="col span_3">
      <div class="children-collection">
        <div class="dashboard-section-header">
          <h2>Offspring</h2>
        </div>
        <% @user.children.each do |child| %>
          <%= render partial: "child_snapshot", locals: {child: child} %>
        <% end %>
        <div class="add-child-btn">
          <a href="/users/<%= @user.id %>/profiles/new">Add Another Child!</a>
        </div>
      </div>
    </div>

    <div class="col span_9">
      <% if @user.pending_dates.length > 0 %>
        <div class="dates-collection pending-dates row">
          <div class="dashboard-section-header">
            <h2>Pending Date Requests</h2>
          </div>
          <div class="dates-rows-wrapper">
            <% @user.pending_dates.each do |date| %>
              <%= render partial: "date_preview_row", locals: {date: date, user: @user} %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="dates-collection upcoming-dates row">
        <div class="dashboard-section-header">
          <h2>Planning Phase</h2>
        </div>
        <div class="dates-rows-wrapper">
          <% @user.accepted_dates.each do |date| %>
            <%= render partial: "date_preview_row", locals: {date: date, user: @user} %>
          <% end %>
        </div>
      </div>

      <div class="dates-collection upcoming-dates row">
        <div class="dashboard-section-header">
          <h2>Upcoming Dates</h2>
        </div>
        <div class="dates-rows-wrapper">
          <% @user.upcoming_dates.each do |date| %>
            <%= render partial: "date_preview_row", locals: {date: date, user: @user} %>
          <% end %>
        </div>
      </div>

      <div class="dates-collection past-dates row">
        <div class="dashboard-section-header">
          <h2>Past Dates</h2>
        </div>
        <div class="dates-rows-wrapper">
          <% @user.past_dates.each do |date| %>
            <%= render partial: "date_preview_row", locals: {date: date, user: @user} %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
