  <div class="all-child-profiles row">
    <% current_user.children.each do |child| %>
      <div class="child-pf-image">
      	<a href="/" data-profile-id="<%= child.id %>"><img src="/uploads/<%= child.parent.id %>/<%= child.id %>/<%= child.pf_image_1 || child.pf_image_2 || child.pf_image_3 || child.pf_image_4 || child.pf_image_5 %>"></a>
      <div class="child-pf-name"><%= child.first_name %></div>
      </div>
    <% end %>
  </div>