<div class="welcome-page-loggedin filter-wrapper col span_2">
  <br/>
  <p> Filters</p>
  <h1 data-gender = "<%= @first_child.gender %>"><%= @first_child.first_name %></h1>
  <form class = "filters">
  Interested in:
  <select name="by_gender" class="filterby">
    <option <%= 'selected=selected' if @first_child.sexual_preference == 'both' %> value="">All</option>
    <option <%= 'selected=selected' if @first_child.sexual_preference == 'men' %> value="male">Men</option>
    <option <%= 'selected=selected' if @first_child.sexual_preference == 'women' %> value="female">Women</option>
    <option value="other">Other</option>
  </select>
  <br/>
  Religion:
  <select name="by_religion" class="filterby">
    <option value=""></option>
    <option value="Christian">Christian</option>
    <option value="Muslim">Muslim</option>
    <option value="Jewish">Jewish</option>
    <option value="Hindu">Hindu</option>
    <option value="Buddhist">Buddhist</option>
  </select>
  <br/>
  <br/>
  Smoke?<br>
  No Preference <input class="filterby" type="radio" checked="checked" name="smoke" value=""><br>
  Exclude Smokers <input class="filterby" type="radio" name="smoke" value="1">

<!--   <select name="smoke" class="filterby">
    <option selected="selected" value="">No Preference</option>
    <option value="1">Exclude Smokers</option>
  </select> -->
</form>
</div>

<div class="matches col span_8">
</div>

<script id="child_preview_template" type="x-handlebars-template">
  {{#each match}}
  <div class="individual-child" data-child-id ="{{id}}">
  <a href="/users/{{parent_id}}/profiles/{{id}}"><img class="prof-img" src="{{pf_image_1}}"></a>
  </div>
  {{/each}}
</script>
<%= render partial: 'profile_template' %>
