<header>
  <nav class = "navbar">
    <div class = "logo col">BHTM</div>
    <div class = "navbar-link-wrapper">
      <div class = "nav-link-btn login-btn">Login</div>
      <div class = "nav-link-btn signup-btn">Signup</div>
    </div>
  </nav>
</header>


<div class="bgvid-wrapper">
  <button class="how-button">How it Works</button>
  <video class = "bg-vid" autoplay loop>
    <source src="/assets/background_vid.webm" type= "video/webm">
    </video>
</div>

  <div id="how-it-works" class="description">
    <div class="description-wrapper">
      <div>
        <i class="fa fa-user-plus fa-5x"></i>
        <h4>1. Create a profile for your kids!</h4>
      </div>
      <div>
        <i class="fa fa-search fa-5x"></i>
        <h4>2. Search for other eligible bachelors and bachelorettes</h4>
      </div>
      <div>
        <i class="fa fa-calendar fa-5x"></i>
        <h4>3. Plan the date - pick a time, movie, restaurant, etc.</h4>
      </div>
      <div>
        <i class="fa fa-heart fa-5x"></i>
        <h4>4. Sit back and wait for the wedding invitation!</h4>
      </div>
    </div>
    <button class="btn-big">GET STARTED</button>
  </div>

  <div class = "form-wrapper">
    <%= form_for :user do |f| %>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>:
    <%= f.text_field :last_name %>
    <br>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    <br>
    <%= f.label :password %>:
    <%= f.text_field :password %>
    <%= f.submit value: "Signup" %>
    <% end %>
  </div>


<!--   create profile
  search for matches
  setup a date
  wait for the wedding invitation -->
