<div class="date-preview row">
  <a href="/dates/<%= date.id %>">
    <div class="your-child-photo col span_3">
      <img src="<%= user.my_child(date).default_pf %>" />
    </div>
    <div class="date-details col span_6">
      <ul>
        <% if user.initiated_date?(date) %>
          <li>You asked to introduce <%= user.my_child(date).first_name %> to <span><%= user.other_child(date).first_name %></span></li>
        <% else %>
          <li><span><%= user.other_child(date).parent.first_name %></span> asked to introduce <span><%= user.other_child(date).first_name %></span> to <%= user.my_child(date).first_name %></li>
        <% end %>
      </ul>
    </div>
    <div class="other-child-photo col span_3">
      <img src="<%= user.other_child(date).default_pf %>" />
    </div>
  </a>
</div>
